<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.GridUserRoleMapper">
  <resultMap id="BaseResultMap" type="model.GridUserRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="corp_code" jdbcType="VARCHAR" property="corpCode" />
    <result column="account_id" jdbcType="BIGINT" property="accountId" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, corp_code, account_id, role_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from grid_user_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from grid_user_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="model.GridUserRole">
    insert into grid_user_role (id, corp_code, account_id, 
      role_id)
    values (#{id,jdbcType=INTEGER}, #{corpCode,jdbcType=VARCHAR}, #{accountId,jdbcType=BIGINT}, 
      #{roleId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="model.GridUserRole">
    insert into grid_user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="corpCode != null">
        corp_code,
      </if>
      <if test="accountId != null">
        account_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="corpCode != null">
        #{corpCode,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.GridUserRole">
    update grid_user_role
    <set>
      <if test="corpCode != null">
        corp_code = #{corpCode,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        account_id = #{accountId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.GridUserRole">
    update grid_user_role
    set corp_code = #{corpCode,jdbcType=VARCHAR},
      account_id = #{accountId,jdbcType=BIGINT},
      role_id = #{roleId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>