<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.CustomerCreditDetailMapper">
  <resultMap id="BaseResultMap" type="model.CustomerCreditDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="id_number" jdbcType="VARCHAR" property="idNumber" />
    <result column="grid_code" jdbcType="VARCHAR" property="gridCode" />
    <result column="phone_number" jdbcType="BIGINT" property="phoneNumber" />
    <result column="begin_at" jdbcType="VARCHAR" property="beginAt" />
    <result column="end_at" jdbcType="VARCHAR" property="endAt" />
    <result column="interest_rate" jdbcType="DECIMAL" property="interestRate" />
    <result column="rental" jdbcType="DECIMAL" property="rental" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="created_at" jdbcType="BIGINT" property="createdAt" />
    <result column="updated_at" jdbcType="BIGINT" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, customer_name, id_number, grid_code, phone_number, begin_at, end_at, interest_rate, 
    rental, comment, created_at, updated_at
  </sql>
  
  
  <select id="getByIdOrIdnumber" parameterType="model.CustomerBlackList" resultMap="BaseResultMap">
  select* from customer_credit_detail where id_number=#{idNumber}
  <if test="id != null">
    and id != #{id,jdbcType=BIGINT}
  </if>
  </select>
  <select id="getList" parameterType="model.CustomerBlackList" resultMap="BaseResultMap">
  select * from customer_credit_detail where 1=1 
  <if test="customerName != null">
   and customer_name like  CONCAT('%',#{customerName},'%')
  </if>
  
  <if test="gridCode != null">
   and grid_code like  CONCAT('%',#{gridCode},'%')
  </if>
  
  <if test="idNumber != null">
   and id_number like  CONCAT('%',#{idNumber},'%')
  </if>
  </select>
  
  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from customer_credit_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from customer_credit_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="model.CustomerCreditDetail">
    insert into customer_credit_detail (id, customer_name, id_number, 
      grid_code, phone_number, begin_at, 
      end_at, interest_rate, rental, 
      comment, created_at, updated_at
      )
    values (#{id,jdbcType=BIGINT}, #{customerName,jdbcType=VARCHAR}, #{idNumber,jdbcType=VARCHAR}, 
      #{gridCode,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=BIGINT}, #{beginAt,jdbcType=VARCHAR}, 
      #{endAt,jdbcType=VARCHAR}, #{interestRate,jdbcType=DECIMAL}, #{rental,jdbcType=DECIMAL}, 
      #{comment,jdbcType=VARCHAR}, #{createdAt,jdbcType=BIGINT}, #{updatedAt,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="model.CustomerCreditDetail">
    insert into customer_credit_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="customerName != null">
        customer_name,
      </if>
      <if test="idNumber != null">
        id_number,
      </if>
      <if test="gridCode != null">
        grid_code,
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="beginAt != null">
        begin_at,
      </if>
      <if test="endAt != null">
        end_at,
      </if>
      <if test="interestRate != null">
        interest_rate,
      </if>
      <if test="rental != null">
        rental,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="customerName != null">
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="gridCode != null">
        #{gridCode,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=BIGINT},
      </if>
      <if test="beginAt != null">
        #{beginAt,jdbcType=VARCHAR},
      </if>
      <if test="endAt != null">
        #{endAt,jdbcType=VARCHAR},
      </if>
      <if test="interestRate != null">
        #{interestRate,jdbcType=DECIMAL},
      </if>
      <if test="rental != null">
        #{rental,jdbcType=DECIMAL},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=BIGINT},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.CustomerCreditDetail">
    update customer_credit_detail
    <set>
      <if test="customerName != null">
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        id_number = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="gridCode != null">
        grid_code = #{gridCode,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=BIGINT},
      </if>
      <if test="beginAt != null">
        begin_at = #{beginAt,jdbcType=VARCHAR},
      </if>
      <if test="endAt != null">
        end_at = #{endAt,jdbcType=VARCHAR},
      </if>
      <if test="interestRate != null">
        interest_rate = #{interestRate,jdbcType=DECIMAL},
      </if>
      <if test="rental != null">
        rental = #{rental,jdbcType=DECIMAL},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=BIGINT},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.CustomerCreditDetail">
    update customer_credit_detail
    set customer_name = #{customerName,jdbcType=VARCHAR},
      id_number = #{idNumber,jdbcType=VARCHAR},
      grid_code = #{gridCode,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=BIGINT},
      begin_at = #{beginAt,jdbcType=VARCHAR},
      end_at = #{endAt,jdbcType=VARCHAR},
      interest_rate = #{interestRate,jdbcType=DECIMAL},
      rental = #{rental,jdbcType=DECIMAL},
      comment = #{comment,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=BIGINT},
      updated_at = #{updatedAt,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>