<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.CustomerInfoMapper">
  <resultMap id="BaseResultMap" type="model.CustomerInfo">
    <id column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="id_number" jdbcType="VARCHAR" property="idNumber" />
    <result column="marital_status" jdbcType="INTEGER" property="maritalStatus" />
    <result column="education_level" jdbcType="VARCHAR" property="educationLevel" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
    <result column="birthday" jdbcType="VARCHAR" property="birthday" />
    <result column="native_place" jdbcType="VARCHAR" property="nativePlace" />
    <result column="phone_number" jdbcType="BIGINT" property="phoneNumber" />
    <result column="custodian" jdbcType="VARCHAR" property="custodian" />
    <result column="grid_code" jdbcType="VARCHAR" property="gridCode" />
    <result column="household_id" jdbcType="BIGINT" property="householdId" />
    <result column="native_address" jdbcType="VARCHAR" property="nativeAddress" />
    <result column="residence_address" jdbcType="VARCHAR" property="residenceAddress" />
    <result column="created_at" jdbcType="BIGINT" property="createdAt" />
    <result column="updated_at" jdbcType="BIGINT" property="updatedAt" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="politics_status" jdbcType="VARCHAR" property="politicsStatus" />
    <result column="living_situation" jdbcType="VARCHAR" property="livingSituation" />
    <result column="physical_condition" jdbcType="VARCHAR" property="physicalCondition" />
    <result column="academic_degree" jdbcType="VARCHAR" property="academicDegree" />
    <result column="year_salary" jdbcType="DOUBLE" property="yearSalary" />
    <result column="nationality" jdbcType="VARCHAR" property="nationality" />
    <result column="borrower_nature" jdbcType="VARCHAR" property="borrowerNature" />
    <result column="postcode" jdbcType="INTEGER" property="postcode" />
    <result column="is_stockholder" jdbcType="VARCHAR" property="isStockholder" />
    <result column="is_staff" jdbcType="VARCHAR" property="isStaff" />
    <result column="is_owner" jdbcType="VARCHAR" property="isOwner" />
  </resultMap>

  <sql id="Base_Column_List">
    customer_id, customer_name, sex, id_number, marital_status, education_level, nation, 
    birthday, native_place, phone_number, custodian, grid_code, household_id, native_address, 
    residence_address, created_at, updated_at, status, politics_status, living_situation, 
    physical_condition, academic_degree, year_salary, nationality, borrower_nature, postcode, 
    is_stockholder, is_staff, is_owner
  </sql>


<!--客户列表-->
    <select id="listCustomers" parameterType="model.CustomerInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from customer_info
        where 1 = 1
        <if test="gridCode != null">
            and grid_code = #{gridCode}
        </if>
        <if test="customerName != null">
            and customer_name like CONCAT('%',#{customerName},'%')
        </if>
        <if test="idNumber != null">
            and id_number like CONCAT('%',#{idNumber},'%')
        </if>
        <if test="householdId != null">
            and household_id like CONCAT('%',#{householdId},'%')
        </if>
        <if test="nativeAddress != null">
            and native_address like CONCAT('%',#{nativeAddress},'%')
        </if>
        <if test="residenceAddress != null">
            and residence_address like CONCAT('%',#{residenceAddress},'%')
        </if>
        order by created_at DESC
    </select>

    <!--客户详情-->
    <select id="getCustomerByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from customer_info
        where customer_id = #{customerId,jdbcType=BIGINT}
    </select>

    <!--客户详情By身份证-->
    <select id="getCustomerByIdNumber" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from customer_info
        where id_number = #{idNumber,jdbcType=BIGINT}
    </select>

    <!--删除-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from customer_info
    where customer_id = #{customerId,jdbcType=BIGINT}
  </delete>


  <insert id="insertSelective" parameterType="model.CustomerInfo">
    insert into customer_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="customerName != null">
        customer_name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="idNumber != null">
        id_number,
      </if>
      <if test="maritalStatus != null">
        marital_status,
      </if>
      <if test="educationLevel != null">
        education_level,
      </if>
      <if test="nation != null">
        nation,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="nativePlace != null">
        native_place,
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="custodian != null">
        custodian,
      </if>
      <if test="gridCode != null">
        grid_code,
      </if>
      <if test="householdId != null">
        household_id,
      </if>
      <if test="nativeAddress != null">
        native_address,
      </if>
      <if test="residenceAddress != null">
        residence_address,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="politicsStatus != null">
        politics_status,
      </if>
      <if test="livingSituation != null">
        living_situation,
      </if>
      <if test="physicalCondition != null">
        physical_condition,
      </if>
      <if test="academicDegree != null">
        academic_degree,
      </if>
      <if test="yearSalary != null">
        year_salary,
      </if>
      <if test="nationality != null">
        nationality,
      </if>
      <if test="borrowerNature != null">
        borrower_nature,
      </if>
      <if test="postcode != null">
        postcode,
      </if>
      <if test="isStockholder != null">
        is_stockholder,
      </if>
      <if test="isStaff != null">
        is_staff,
      </if>
      <if test="isOwner != null">
        is_owner,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customerId != null">
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="customerName != null">
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="idNumber != null">
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="maritalStatus != null">
        #{maritalStatus,jdbcType=INTEGER},
      </if>
      <if test="educationLevel != null">
        #{educationLevel,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="nativePlace != null">
        #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=BIGINT},
      </if>
      <if test="custodian != null">
        #{custodian,jdbcType=VARCHAR},
      </if>
      <if test="gridCode != null">
        #{gridCode,jdbcType=VARCHAR},
      </if>
      <if test="householdId != null">
        #{householdId,jdbcType=BIGINT},
      </if>
      <if test="nativeAddress != null">
        #{nativeAddress,jdbcType=VARCHAR},
      </if>
      <if test="residenceAddress != null">
        #{residenceAddress,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=BIGINT},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="politicsStatus != null">
        #{politicsStatus,jdbcType=VARCHAR},
      </if>
      <if test="livingSituation != null">
        #{livingSituation,jdbcType=VARCHAR},
      </if>
      <if test="physicalCondition != null">
        #{physicalCondition,jdbcType=VARCHAR},
      </if>
      <if test="academicDegree != null">
        #{academicDegree,jdbcType=VARCHAR},
      </if>
      <if test="yearSalary != null">
        #{yearSalary,jdbcType=DOUBLE},
      </if>
      <if test="nationality != null">
        #{nationality,jdbcType=VARCHAR},
      </if>
      <if test="borrowerNature != null">
        #{borrowerNature,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        #{postcode,jdbcType=INTEGER},
      </if>
      <if test="isStockholder != null">
        #{isStockholder,jdbcType=VARCHAR},
      </if>
      <if test="isStaff != null">
        #{isStaff,jdbcType=VARCHAR},
      </if>
      <if test="isOwner != null">
        #{isOwner,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="model.CustomerInfo">
    update customer_info
    <set>
      <if test="customerName != null">
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="idNumber != null">
        id_number = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="maritalStatus != null">
        marital_status = #{maritalStatus,jdbcType=INTEGER},
      </if>
      <if test="educationLevel != null">
        education_level = #{educationLevel,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="nativePlace != null">
        native_place = #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=BIGINT},
      </if>
      <if test="custodian != null">
        custodian = #{custodian,jdbcType=VARCHAR},
      </if>
      <if test="gridCode != null">
        grid_code = #{gridCode,jdbcType=VARCHAR},
      </if>
      <if test="householdId != null">
        household_id = #{householdId,jdbcType=BIGINT},
      </if>
      <if test="nativeAddress != null">
        native_address = #{nativeAddress,jdbcType=VARCHAR},
      </if>
      <if test="residenceAddress != null">
        residence_address = #{residenceAddress,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=BIGINT},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="politicsStatus != null">
        politics_status = #{politicsStatus,jdbcType=VARCHAR},
      </if>
      <if test="livingSituation != null">
        living_situation = #{livingSituation,jdbcType=VARCHAR},
      </if>
      <if test="physicalCondition != null">
        physical_condition = #{physicalCondition,jdbcType=VARCHAR},
      </if>
      <if test="academicDegree != null">
        academic_degree = #{academicDegree,jdbcType=VARCHAR},
      </if>
      <if test="yearSalary != null">
        year_salary = #{yearSalary,jdbcType=DOUBLE},
      </if>
      <if test="nationality != null">
        nationality = #{nationality,jdbcType=VARCHAR},
      </if>
      <if test="borrowerNature != null">
        borrower_nature = #{borrowerNature,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        postcode = #{postcode,jdbcType=INTEGER},
      </if>
      <if test="isStockholder != null">
        is_stockholder = #{isStockholder,jdbcType=VARCHAR},
      </if>
      <if test="isStaff != null">
        is_staff = #{isStaff,jdbcType=VARCHAR},
      </if>
      <if test="isOwner != null">
        is_owner = #{isOwner,jdbcType=VARCHAR},
      </if>
    </set>
    where customer_id = #{customerId,jdbcType=BIGINT}
  </update>
</mapper>