<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.CustomerGreylistMapper">
  <resultMap id="BaseResultMap" type="model.CustomerGreylist">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="id_number" jdbcType="VARCHAR" property="idNumber" />
    <result column="phone_number" jdbcType="BIGINT" property="phoneNumber" />
    <result column="grid_code" jdbcType="VARCHAR" property="gridCode" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="created_at" jdbcType="BIGINT" property="createdAt" />
    <result column="updated_at" jdbcType="BIGINT" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, customer_name, id_number, phone_number, grid_code, reason, address, comment, 
    created_at, updated_at
  </sql>
  <delete id="deleteByIdNumber" parameterType="model.CustomerGreylist"  >
  
  delete from customer_greylist where id_number = #{idNumber}
  
  </delete>
  
  
  
  <select id="getByIdOrIdnumber" parameterType="model.CustomerGreylist" resultMap="BaseResultMap">
  select* from customer_greylist where id_number=#{idNumber}
  <if test="id != null">
    and id != #{id,jdbcType=BIGINT}
  </if>
  </select>
  <select id="getGreyLists" parameterType="model.CustomerGreylist" resultType="java.util.Map">
  select  y.id as id, y.customer_name as customerName, y.id_number as idNumber, y.phone_number as phoneNumber, y.grid_code as gridCode, y.reason as reason, y.address as address, y.comment as comment, 
    y.created_at as createdAt, y.updated_at as updatedAt,g.grid_name as gridName  from customer_greylist  y  left join grid_info g on y. grid_code= g.grid_code  where 1=1 
     and  y.grid_code in
     <foreach item="item" index="index" collection="gridCodeList" 
                         open="(" separator="," close=")">
                        #{item}
                </foreach>
  <if test="customerName != null">
   and  y.customer_name like  CONCAT('%',#{customerName},'%')
  </if>
  <if test="idNumber != null">
   and  y.id_number like  CONCAT('%',#{idNumber},'%')
  </if>
  <if test="gridCode != null">
   and  y.grid_code = #{gridCode}
  </if>
   order by  y.created_at desc
  </select>
  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from customer_greylist
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from customer_greylist
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="model.CustomerGreylist">
    insert into customer_greylist (id, customer_name, id_number, 
      phone_number, grid_code, reason, 
      address, comment, created_at, 
      updated_at)
    values (#{id,jdbcType=BIGINT}, #{customerName,jdbcType=VARCHAR}, #{idNumber,jdbcType=VARCHAR}, 
      #{phoneNumber,jdbcType=BIGINT}, #{gridCode,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, #{createdAt,jdbcType=BIGINT}, 
      #{updatedAt,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="model.CustomerGreylist">
    insert into customer_greylist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="customerName != null">
        customer_name,
      </if>
      <if test="idNumber != null">
        id_number,
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="gridCode != null">
        grid_code,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="customerName != null">
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=BIGINT},
      </if>
      <if test="gridCode != null">
        #{gridCode,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=BIGINT},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.CustomerGreylist">
    update customer_greylist
    <set>
      <if test="customerName != null">
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        id_number = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=BIGINT},
      </if>
      <if test="gridCode != null">
        grid_code = #{gridCode,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=BIGINT},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.CustomerGreylist">
    update customer_greylist
    set customer_name = #{customerName,jdbcType=VARCHAR},
      id_number = #{idNumber,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=BIGINT},
      grid_code = #{gridCode,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=BIGINT},
      updated_at = #{updatedAt,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>