<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.OrganizationMapper">

  <resultMap id="BaseResultMap" type="model.Organization">
    <id column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="org_code" jdbcType="BIGINT" property="orgCode" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
    <result column="corp_code" jdbcType="VARCHAR" property="corpCode" />
    <result column="pre_org_id" jdbcType="BIGINT" property="preOrgId" />
    <result column="relation_type" jdbcType="INTEGER" property="relationType" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="virtual_org_flag" jdbcType="INTEGER" property="virtualOrgFlag" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="org_level" jdbcType="INTEGER" property="orgLevel" />
    <result column="created_at" jdbcType="BIGINT" property="createdAt" />
    <result column="updated_at" jdbcType="BIGINT" property="updatedAt" />
  </resultMap>

  <sql id="Base_Column_List">
    org_id, org_code, org_name, corp_code, pre_org_id, relation_type, status, virtual_org_flag,
    description, type, org_level, created_at, updated_at
  </sql>

    <!--查询机构列表-->
    <select id="getOrganizationsByPreOrgId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from grid_org
        where pre_org_id = #{preOrgId,jdbcType=BIGINT}
    </select>

    <!--查询所有机构-->
    <select id="listOrganization" parameterType="model.Organization" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from grid_org
        where 1=1
        <if test="orgCode != null">
            and org_code = #{orgCode}
        </if>
    </select>

    <!--查询单个机构详情By机构码-->
    <select id="getOrganizationByOrgCode" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from grid_org
        where org_code = #{orgCode,jdbcType=BIGINT}
    </select>

    <!--查询单个机构详情By机构名-->
    <select id="getOrganizationByOrgName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from grid_org
        where org_name = #{orgName,jdbcType=BIGINT}
    </select>

    <!--查询单个机构详情-->
  <select id="getOrganizationByOrgId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from grid_org
    where org_id = #{orgId,jdbcType=BIGINT}
  </select>

    <!--删除机构-->
  <delete id="deleteByOrgId" parameterType="java.lang.Long">
    delete from grid_org
    where org_id = #{orgId,jdbcType=BIGINT}
  </delete>

    <!--新增机构-->
  <insert id="insertSelective" parameterType="model.Organization">
    insert into grid_org
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orgCode != null">
        org_code,
      </if>
      <if test="orgName != null">
        org_name,
      </if>
      <if test="corpCode != null">
        corp_code,
      </if>
      <if test="preOrgId != null">
        pre_org_id,
      </if>
      <if test="relationType != null">
        relation_type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="virtualOrgFlag != null">
        virtual_org_flag,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="type != null">
        type,
      </if>
        <if test="orgLevel != null">
            org_level,
        </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="orgCode != null">
        #{orgCode,jdbcType=BIGINT},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="corpCode != null">
        #{corpCode,jdbcType=VARCHAR},
      </if>
      <if test="preOrgId != null">
        #{preOrgId,jdbcType=BIGINT},
      </if>
      <if test="relationType != null">
        #{relationType,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="virtualOrgFlag != null">
        #{virtualOrgFlag,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
        <if test="orgLevel != null">
            #{orgLevel,jdbcType=INTEGER},
        </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=BIGINT},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>

    <!--编辑机构-->
  <update id="updateByOrgCodeSelective" parameterType="model.Organization">
    update grid_org
    <set>
        <if test="orgCode != null">
            org_code = #{orgCode,jdbcType=BIGINT},
        </if>
      <if test="orgName != null">
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="corpCode != null">
        corp_code = #{corpCode,jdbcType=VARCHAR},
      </if>
      <if test="preOrgId != null">
        pre_org_id = #{preOrgId,jdbcType=BIGINT},
      </if>
      <if test="relationType != null">
        relation_type = #{relationType,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="virtualOrgFlag != null">
        virtual_org_flag = #{virtualOrgFlag,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
        <if test="orgLevel != null">
            org_level = #{orgLevel,jdbcType=INTEGER},
        </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=BIGINT},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=BIGINT},
      </if>
    </set>
    where org_id = #{orgId,jdbcType=BIGINT}
  </update>

</mapper>